<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hee462.book.Dao">

	<select id="selectAll"></select>
	<select id="findById"></select>
	<insert id="insert">
		insert into tbl_books(
		b_code,b_name,b_auther,b_comp,
		b_year,b_iprice,b_rprice
		)
		value(
		#{b_code},#{b_name},#{b_auther},#{b_comp},
		#{b_year},#{b_iprice},#{b_rprice}
		)
	</insert>
	<update id="update">
		update tbl_books
		set
		b_name='#{b_name}',
		b_auther='#{b_auther}',
		b_comp='#{b_comp}',
		b_year='#{b_year}',
		b_iprice='#{b_iprice}',
		b_rprice='#{b_rprice}'
		where u_code = '#{u_code}'
	</update>
	<delete id="delete"></delete>

</mapper> 